<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee">
	<servlet>
		<servlet-name>MyServlet</servlet-name>
		<servlet-class>com.ittx.android1601.MyServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>MyServlet</servlet-name>
		<url-pattern>/myservlet</url-pattern>
	</servlet-mapping>
</web-app>
